<header>
  <ul class="nav">
    <li>
      <a href="/">rocket icon</a>
    </li>
    <li>
      <a href="/work">work</a>
    </li>
    <li>
      <a href="/about">about</a>
    </li>
  </ul>
  <h1>{{ title }} 
    {%- if titlesmall %}<small style="font-size: 15px;">{{ titlesmall | safe }}</small>{% endif %}
  </h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
