/* breakpoints for media queries */
$small: 400px;
$medium: 740px;
$large: 1200px;
$xlarge: 1280px;

/* colours */
$page-color: #2424bb;
$text-color: #fff;
$accent-color: #27a4de;
$dark-color: #000;

